##### DOCKER VERSION

TRAEFIKVERSION=v2.2.1
AUTHELIAVERSION=4.18.1
MARIAVERSION=10.4.13
PHPMYADMINVERSION=5.0.2
PORTAINERVERSION=1.25.5
DOZZLEVERSION=v1.22.3

##### DOMAIN

DOMAINNAME=yourdomain.com

##### SYSTEM

TZ=America/Costa_Rica


##### DATABASE FOR AUTHELIA

AUTHELIA_MYSQL_ROOT_PASSWORD=SOME_STRONG_PASSWORD
AUTHELIA_MYSQL_USER=authelia  
AUTHELIA_MYSQL_DATABASE=authelia
AUTHELIA_MYSQL_PASSWORD=YOUR_PASSWORD