##### DOCKER VERSION

TRAEFIKVERSION=v2.2.1
PORTAINERVERSION=1.24.0-alpine
MARIAVERSION=10.4.13
PHPMYADMINVERSION=5.0.2

##### DOMAIN

DOMAINNAME=example.com

##### SYSTEM

TZ=America/Costa_Rica

##### DATABASE FOR MYSQL

MYSQL_ROOT_PASSWORD=SOME_STRONG_PASSWORD
MYSQL_USER=authelia  
MYSQL_DATABASE=authelia
MYSQL_PASSWORD=YOUR_PASSWORD